name: flutter_bloc_app_template
description: The project of the empty template with Flutter has built the basic framework to realize the functions of internationalization, theme peeling etc.

publish_to: 'none'

version: 1.0.1+1

environment:
  sdk: ">=3.2.0 <4.0.0"
  flutter: ">=3.19.2"

dependencies:
  flutter:
    sdk: flutter
  flutter_bloc: ^9.0.0
  bloc: ^9.0.0
  logger: ^2.5.0
  equatable: ^2.0.7
  http: ^1.4.0
  json_annotation: ^4.9.0
  shared_preferences: ^2.5.2
  dio: ^5.8.0+1
  intl: ^0.20.2
  google_fonts: ^6.2.1
  #analyzer: ^2.7.0
  freezed_annotation: ^3.0.0
  intl_utils: ^2.8.10
  effective_dart: ^1.3.2
  flutter_svg: ^2.0.17
  gap: ^3.0.1
  # cached_network_image: ^3.2.3
  path_provider: ^2.1.5
  file: ^7.0.0
  get_it: ^8.0.3
  injectable: ^2.5.0
  nullx: ^0.1.17
  retrofit: ^4.4.2
  retrofit_generator: ^10.0.1
  dartz: ^0.10.1
  talker: ^5.0.0
  talker_logger: ^5.0.0
  talker_dio_logger: ^5.0.0
  talker_bloc_logger: ^5.0.0
  animations: ^2.0.7
  yaml: ^3.1.2
  collection: ^1.18.0
  package_info_plus: ^9.0.0
  provider: ^6.1.5
  url_launcher: ^6.3.2

  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  build_runner: ^2.4.15
  injectable_generator: ^2.7.0
  flutter_gen_runner: ^5.9.0
  json_serializable: ^6.9.4
  #coverage: ^1.1.0
  lint: ^2.8.0
  mockito: ^5.4.5
  #test: ^1.17.9
  bloc_test: ^10.0.0
  flutter_lints: ^6.0.0
  mocktail: ^1.0.4
  freezed: ^3.0.2
  #dart_code_metrics: ^5.7.5
  network_image_mock: ^2.1.1
  flutter_oss_licenses: ^3.0.4

flutter:
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  assets:
    # Add assets from the images directory to the application.
    - assets/images/
    - assets/icons/navigation/
    - google_fonts/
  fonts:
    - family: Roboto
      fonts:
        - asset: google_fonts/Roboto-Medium.ttf
          weight: 500

flutter_gen:
  output: lib/generated/ # Optional (default: lib/gen/)
  line_length: 80 # Optional (default: 80)

  # Optional
  integrations:
    flutter_svg: true

  colors:
    inputs:
      - assets/color/colors.xml

flutter_intl:
  enabled: true
